.off-canvas{
    top: 58px;
    height: calc(100% - 58px);
    padding: 20px;
    backface-visibility: visible;
    transition: none;
    @include breakpoint(large down){
        width: 220px;
    }
    @include breakpoint(768px down){
        top: 48px;
        height: calc(100% - 48px);
    }
}

.js-off-canvas-overlay{
    transition: none;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 58px);
        background: rgba(0,22,48,0.78);
        @include breakpoint(small down){
            height: calc(100% - 48px);
        }
    }
}