.reveal{
    outline: none;
    margin: auto;
    position: relative;
    overflow: visible;
    width: 100%;
    max-width: 860px;
    display: block;
    transform: translate3d(0, -18px, 0) perspective(435px) rotateX(8deg);
    @include breakpoint(small down) {
        width: 100%;
        height: auto;
        min-height: auto;
    }
    &-overlay{
        padding: 20px 75px;
        visibility: hidden;
        opacity: 0;
        display: block;
        @include breakpoint(small down) {
            padding: 10px;
        }
        &[style*="block"]{
            display: flex !important;
            align-items: center;
        }
    }
}