.header{
    background: #002a48;
    overflow: hidden;
    // transform: translateY(-100%);
    position: relative;
    z-index: 6;
    &_inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 58px;
        @include breakpoint(768px down){
            height: 48px;
        }
    }
    &_logo{
        margin-right: auto;
        filter: drop-shadow(0 0 8px $primary-color);
        &:hover, &:focus{
            filter: drop-shadow(0 0 8px $secondary-color);
            animation: flicker 1.5s linear;
            .header_logo{
                &-fill{
                    opacity: 1; 
                }
                &-gradient{
                    opacity: 0;
                }
            }
        }
        &-fill{
            opacity: 0;
            transition: opacity 300ms;
            fill: $secondary-color;
        }
        &-gradient{
            
            transition: opacity 300ms;
        }
    }
    &_buttons{
        margin-left: 30px;
        @include breakpoint(768px down){
            display: none;
        }
        .button + .button{
            margin-left: 12px;
        }
    }
    &_hamb{
        width: 24px;
        height: 16px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        transition: 300ms;
        margin-left: 15px;
        box-sizing: content-box;
        padding: 10px;
        margin-right: -10px;
        &-line{
            width: calc(100% - 3px);
            border-bottom: 2px solid $primary-color;
            box-shadow: 0 0 10px $primary-color;
            transition: 300ms;
        }
        &::before, &::after{
            content: '';
            width: 100%;
            border-top: 2px solid $primary-color;
            box-shadow: 0 0 10px $primary-color;
            transition: 300ms;
        }
        &::after{
            width: calc(100% - 6px);
        }
        &:hover, &:focus, &.active {
            filter: drop-shadow(0 0 10px $secondary-color);
            &::before, &::after, .header_hamb-line{
                border-color: $secondary-color;
                box-shadow: 0 0 10px $secondary-color;
            }
            &::after, .header_hamb-line{
                width: 100%;
            }
        }
    }
}