.content{
    position: relative;
    // overflow: hidden;
    // height: 100%;
}

.main{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    // display: none;
    overflow: hidden;
    z-index: 2;
    // user-select: none;
    // &::after{
    //     position: absolute;
    //     top: 0;
    //     content: '';
    //     width: 1280px;
    //     height: 100%;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     background: red;
    //     z-index: -1;
    // }
    &_inner{
        padding-top: 28px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        // height: 100%;
        min-height: calc(100vh - 58px);
        padding-bottom: 120px;
        @include breakpoint(large down){
            padding-bottom: 92px;
        }
        @include breakpoint(768px down){
            min-height: calc(100vh - 48px);
        }
        @include breakpoint(small down){
            padding-top: 20px;
            padding-bottom: 20px;
            min-height: 100%;
        }
        h1{
            flex: 1 1 100%;
            @include breakpoint(968px down){
                margin-bottom: 20px;
            }
            @include breakpoint(small down){
                margin-bottom: 15px;
            }
        }
    }
    &_blocks{
        display: flex;
        justify-content: space-between;
        @include breakpoint(small down){
            display: block;
        }
    }
    &_hints{
        display: flex;
        justify-content: space-between;
    }
    &_down{
        display: none;
        margin: auto;
        cursor: pointer;
        @include breakpoint(small down){
            display: block;
        }
    }
    &_button.button{
        position: absolute;
        right: 15px;
        bottom: 162px;
        opacity: 0;
        visibility: hidden;
        filter: drop-shadow(0 0 25px currentColor);
        &:hover, &:focus{
            &:not(.still).secondary span{
                background: none;
                color: $secondary-color;
            }
        }
        span{
            padding-right: 20px;
            padding-left: 30px;
            background: none;   
        }
    }
}

.block{
    position: relative;
    // filter: drop-shadow(0 0 10px $primary-color);
    letter-spacing: 0.49px;
    flex: 0 1 340px;
    margin-bottom: 30px;
    z-index: 2;
    @include breakpoint(968px down){
        margin-bottom: 20px;
    }
    @include breakpoint(small down){
        margin-bottom: 13px;
    }
    &::before, &::after{
        content: '';
        position: absolute;
        top: 50%;
        border-bottom: 1px solid $primary-color;
        box-shadow: 0px 0px 12px rgba(105, 214, 255, 0.5);
        z-index: -1;
    }
    &::after{
        width: calc((100vw - 920px) / 2);
        right: 100%;
        @include breakpoint(968px down){
            width: 24px;
        }
    }
    &--wide{
        flex: 0 1 540px;
        margin-left: 36px;
        z-index: 1;
        @include breakpoint(small down){
            margin-left: 0;
            .block_inner{
                transform: translateX(30px);
                margin-bottom: 0;
            }
        }
        &::before{
            width: calc(920px - 100% - 340px + 20px);
            right: 100%;
            @include breakpoint(small down){
                display: none;
            }
        }
        &::after{
            width: calc((100vw - 920px) / 2 + 20px);
            left: calc(100% - 20px);
            @include breakpoint(968px down){
                width: 44px;
            }
        }
    }
    &--regards{
        position: absolute;   
        top: 82px;
        right: 567px;
        max-width: 534px;
        font-weight: 600;
        visibility: hidden;
        opacity: 0;
        @include breakpoint(large down){
            // right: 450px;
            // max-width: 394px;
        }
        @media screen and (max-height: 930px){
            top: 6vh;
            right: 450px;
            max-width: 394px;
        }
        @include breakpoint(768 down){
            right: auto;
            left: 24px;
            max-width: 380px;
        }
        @include breakpoint(small down){
            font-weight: 400;
            left: 20px;
            max-width: calc(100% - 40px);
        }
        &::after{
            width: calc(100vw - 567px);
            top: 34px;
            z-index: -1;
            @include breakpoint(768 down){
                width: 24px;
            }
            @include breakpoint(small down){
                width: 20px;
            }
        }
        .block_inner{
            transform: translateX(-20px);
            @include breakpoint(small down){
                background-color: rgba(0, 42, 72, 0.8);
            }
        }
    }
    &_inner{
        position: relative;
        display: block;
        padding: 20px 15px;
        border: $button-hollow-border-width solid $primary-color;
        clip-path: 
            polygon(
                0 8px,
                8px 0,
                100% 0%,  
                100% calc(100% - 8px),
                calc(100% - 8px) 100%,
                0 100%
            );
        background-color: #032845;
        // opacity: 0;
        transform: translateX(-30px);
        @include breakpoint(768px down){
            padding: 10px 15px;
            font-size: 13px;
        }
        @include breakpoint(small down){
            font-size: 14px;
            // transform: translateX(-20px);
        }
        &::before, &::after{
            content: '';
            position: absolute;
            width: 10px;
            border-bottom: 3px solid $primary-color;
            transform: rotate(-45deg);
        }
        &::before{
            left: -3px;
            top: 1px;
        }
        &::after{
            right: -3px;
            bottom: 1px;
        }
    }
}

.hint{
    position: relative;
    letter-spacing: 0.49px;
    font-weight: 300;
    border-left: 1px solid;
    flex: 0 1 440px;
    margin-bottom: 30px;
    @include breakpoint(968px down){
        margin-bottom: 20px;
    }
    @include breakpoint(768px down){
        margin-bottom: 0;
    }
    @include breakpoint(small down){
        position: absolute;
        font-weight: 400;
        opacity: 0;
        // visibility: hidden;
        top: 15px;
        left: 15px;
        margin: 0;
    }
    &--graph{
        @include breakpoint(small down){
            top: calc(40% - 72px);
        }
        .hint_line{
            min-height: auto;
            border-top: 1px dashed $white;
            border-left: 1px dashed $white;
            &.expanded{
                min-height: 100px;
            }
        }
    }
    &--event{
        margin-top: -40px;
        flex: 0 1 427px;
        opacity: 0;
        @include breakpoint(medium down){
            margin-left: 3%;
        }
        @include breakpoint(968px down){
            margin-top: -50px;
        }
        @include breakpoint(768px down){
            // margin-top: -60px;
            margin-left: 0;
        }
        @include breakpoint(small down){
            margin: 0;
            flex: 0 0 auto;
        }
        .hint_line{
            right: auto;
            left: 0;
            width: 304px;
            height: auto;
            transform: translateX(-10.2%);
            @include breakpoint(768px down){
                display: none;
            }
            &-mobile{
                display: none;
                transform: translateX(-11px);
                @include breakpoint(small down){
                    display: block;
                }
            }
        }
    }
    &_content{
        display: block;
        overflow: hidden;
    }
    &_movable{
        display: block;
        padding: 7px 15px;
        transform: translateX(-100%);
    }
    &_line{
        position: absolute;
        top: 50%;
        right: 100%;
        min-height: 100px;
        // stroke-dashoffset: 0;
        // stroke-dasharray: 0 1;
        stroke-width: 1px;
        fill: none;
        stroke: $white;
        mask path{
            stroke-width: 2px;
        }
        > path{
            // stroke-width: 1.3px;
            stroke-dasharray: 4, 2;
        }
    }
}

.lead{
    position: relative;
    color: $secondary-color;
    border-left: 1px solid $secondary-color;
    margin: 0 auto 60px;
    opacity: 0;
    @include breakpoint(small down){
        position: absolute;
        top: 20px;
        left: 15px;
        visibility: hidden;
    }
    &_content{
        display: block;
        overflow: hidden;
        @include breakpoint(768px down){
            max-width: 350px;
        }
    }
    &_movable{
        display: block;
        padding: 18px 15px;
        transform: translateX(-100%);
        @include breakpoint(768px down){
            padding: 10px 15px;
        }
    }
    &_line{
        position: absolute;
        right: 100%;
        top: 50%;
        // width: 281px;
        border-top: 1px solid $secondary-color;
        border-left: 1px solid $secondary-color;
        // min-height: 52px;
        height: 0;
        width: 0;
        overflow: hidden;
        &::before, &:after{
            content: '';
            position: absolute;
            bottom: 0;
            border-right: 1px solid $secondary-color;
            height: 6px;
            border-radius: 25%;
            transform: rotate(0deg);
            transform-origin: bottom;
            transition: transform 300ms;
        }
        &::before{
            right: 100%;
        }
        &::after{
            left: -1px;
        }
        &.expanded{
            overflow: visible;
            &::before{
                transform: rotate(-43deg);
            }
            &::after{
                transform: rotate(43deg);
            }
        }
        &:not(.lead_line-mobile){
            @include breakpoint(small down){
                display: none;
            }
        }
        &-mobile{
            display: none;
            right: auto;
            left: -12px;
            border: 0;
            @include breakpoint(small down){
                display: block;
            }
            &::before, &::after{
                display: none;
            }
        }
    }
}

.hardworkers{
    position: absolute;
    right: 30px;
    bottom: 130px;
    text-align: right;
    transform: translateX(-20px);
    opacity: 0;
    visibility: hidden;
    @include breakpoint(small down){
        right: 20px;
        bottom: 80px;
    }
}