.gs-dev-tools{
    z-index: 10;
}

.timeline{
    &_canvas{
        width: 100%;
        height: calc(100% - 58px);
        min-height: 662px;
        // opacity: 0;
        // z-index: -1;
        transition: opacity 300ms;
        -webkit-tap-highlight-color: transparent;
        @include breakpoint(768px down){
            height: calc(100% - 48px);
            min-height: 652px;
        }
    }
    &_controls{
        position: absolute;
        bottom: 77px;
        left: 0;
        width: 100%;
        padding: 10px 0;
        height: 44px;
        z-index: 3;
        @include breakpoint(medium down){
            padding: 0;
            height: auto;
            bottom: 64px;
        }
        @include breakpoint(small down){
            display: none;
        }
        &_inner{
            overflow: hidden;
        }
    }
    &_control{
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.42px;
        padding: 6px 0;
        transition: 300ms color;
        &--back{
            float: left;
            svg{
                margin-right: 6px;
                order: -1;
            }
        }
        &--forward{
            float: right;
            svg{
                margin-left: 6px;
                order: 1;
            }
        }
        &:hover, &:focus{
            color: $secondary-color;
        }
    }
    &_years{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 40px;
        @include breakpoint(medium down){
            bottom: 27px;
        }
        &_button.hollow{
            filter: none;
        }
        &::before{
            content: '';
            width: 100%;
            position: absolute;
            top: calc(50% - 0.5px);
            left: 0;
            box-shadow: 0 0 12px rgba(105, 214, 255, 0.5);
            border-bottom: 1px solid $primary-color;
        }
    }
}