.gs-dev-tools{
    z-index: 10;
}

.timeline{
    &_canvas{
        width: 100vw;
        height: calc(100vh - 58px);
        min-height: 662px;
        // opacity: 0;
        // z-index: -1;
        transition: opacity 300ms;
    }
    &_controls{
        position: absolute;
        bottom: 77px;
        left: 0;
        width: 100%;
        padding: 10px 0;
        height: 44px;
        &_inner{
            display: flex;
            justify-content: space-between;
        }
    }
    &_control{
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.42px;
        padding: 6px 0;
        transition: 300ms color;
        &--back{
            svg{
                margin-right: 6px;
            }
        }
        &--forward{
            svg{
                margin-left: 6px;
            }
        }
        &:hover, &:focus{
            color: $secondary-color;
        }
    }
    &_years{
        position: absolute;
        width: 100%;
        padding-left: calc((100vw - 920px) / 2);
        left: 0;
        bottom: 40px;
        &_button.hollow{
            filter: none;
        }
        &::before{
            content: '';
            width: 100%;
            position: absolute;
            top: calc(50% - 0.5px);
            left: 0;
            box-shadow: 0 0 12px rgba(105, 214, 255, 0.5);
            border-bottom: 1px solid $primary-color;
        }
    }
}