header.header
    .grid-container.header_inner
        .header_logo
            svg(width='160', height='71', viewBox='0 0 160 71', fill='none', xmlns='http://www.w3.org/2000/svg')
                g(filter='url(#filter0_d)')
                    path(d='M42.2417 36.5915C41.0881 36.5292 39.9189 36.6382 38.7653 36.3579C37.222 35.9687 35.8969 35.1748 34.6342 34.2719C33.6676 33.5713 32.7167 32.8552 31.7346 32.1858C30.5498 31.3607 29.2403 30.9715 27.7905 31.0338C26.8707 31.0649 25.9354 31.0182 25 31.0027C25 30.956 25 30.8937 25 30.847C25.2494 29.7573 25.2494 28.6675 25 27.5778C25 27.5311 25 27.4688 25 27.4221C25.7171 27.4065 26.4498 27.3287 27.1669 27.4065C29.708 27.6868 31.6722 26.488 33.4961 24.978C36.0372 22.8919 38.8277 21.5064 42.2261 21.8333C42.3041 21.7243 42.2573 21.6776 42.1482 21.6465C41.6805 21.1795 41.244 20.6813 40.7296 20.2454C40.2931 19.8718 40.2151 19.4982 40.4178 19C40.5269 19 40.6204 19 40.7296 19C41.6181 19.2491 42.4911 19.2491 43.3797 19C43.4265 19 43.4888 19 43.5356 19C45.0945 20.1209 46.3105 21.6154 47.6824 22.9386C48.228 23.4679 48.228 23.9349 47.6824 24.4954C46.6067 25.5851 45.531 26.6749 44.4398 27.749C44.0345 28.1538 43.5512 28.3562 42.9588 28.325C42.3041 28.3095 41.6649 28.3095 41.0102 28.3095C40.714 28.3095 40.4178 28.2939 40.2775 27.9825C40.1372 27.64 40.4178 27.4532 40.6048 27.2664C41.1349 26.7371 41.6649 26.2234 42.2885 25.6007C40.6984 25.4294 39.3109 25.5384 38.0014 26.3168C36.6763 27.0952 35.5072 28.0915 34.2444 28.9633C33.9482 29.1657 33.995 29.2747 34.26 29.4615C35.4604 30.2866 36.614 31.1272 37.7832 31.9367C39.1083 32.8396 40.6048 33.0109 42.3664 32.8085C41.6961 32.1702 41.1349 31.6254 40.5737 31.0805C40.3866 30.8937 40.1683 30.7069 40.3242 30.4111C40.4489 30.1464 40.714 30.0997 40.979 30.0997C41.6805 30.0997 42.382 30.0997 43.0835 30.1153C43.6292 30.1309 44.0812 30.3333 44.471 30.7224C45.531 31.7966 46.6067 32.8552 47.6512 33.9138C48.228 34.5054 48.2436 34.9413 47.6824 35.5173C46.6223 36.5915 45.5622 37.6501 44.5021 38.7242C44.0968 39.129 43.6136 39.3469 43.0368 39.3469C42.3041 39.3469 41.587 39.3158 40.8543 39.3002C40.636 39.3002 40.4334 39.2535 40.3242 39.0511C40.1839 38.8021 40.3242 38.5997 40.4957 38.4284C41.0413 37.8836 41.6026 37.3387 42.1482 36.7783C42.2729 36.7471 42.3197 36.7004 42.2417 36.5915Z', fill='url(#paint0_linear)')
                    path(d='M123.524 45.1692C123.524 44.6555 123.555 44.1262 123.508 43.6124C123.462 43.0053 123.649 42.7873 124.288 42.8185C125.785 42.8652 127.297 42.8185 128.762 42.5227C130.43 42.1802 131.599 40.7013 131.615 39.0044C131.646 35.5328 131.615 32.0456 131.631 28.5741C131.631 28.2316 131.662 27.8735 131.147 27.9046C129.666 27.9825 128.201 27.8424 126.72 28.0292C124.241 28.3561 123.072 31.0182 123.446 33.1821C123.976 36.3112 127.421 37.2764 130.056 35.8286C130.664 35.5017 130.711 35.6262 130.711 36.2178C130.711 38.0548 130.196 38.6152 128.029 38.7864C124.912 39.02 121.887 37.2297 121.139 33.976C120.282 30.2554 122.215 26.7993 126.127 25.7874C126.393 25.7252 126.689 25.7252 126.985 25.7252C129.37 25.7252 131.771 25.7252 134.156 25.7252C134.156 30.2398 134.156 34.7544 134.156 39.269C134.109 39.3313 134.031 39.3936 134.031 39.4559C133.704 42.258 131.973 43.8148 129.448 44.7177C128.84 44.9357 128.185 44.889 127.608 45.1848C126.221 45.1692 124.88 45.1692 123.524 45.1692Z', fill='url(#paint1_linear)')
                    path(d='M25 30.847C25.2494 29.7573 25.2494 28.6675 25 27.5778C25 28.6675 25 29.7573 25 30.847Z', fill='url(#paint2_linear)')
                    path(d='M43.3953 19.0155C42.5068 19.2646 41.6338 19.2646 40.7452 19.0155C41.6338 19.0155 42.5068 19.0155 43.3953 19.0155Z', fill='url(#paint3_linear)')
                    path(d='M95.0581 25.6007C94.0292 27.3754 93.0783 29.0412 92.0961 30.6758C91.8311 31.1272 91.7999 31.3296 92.3612 31.5476C93.9357 32.1703 94.6684 33.478 94.9646 35.0659C95.1672 36.14 95.1049 37.2298 95.1205 38.3195C95.1205 38.662 95.0113 38.8021 94.6684 38.771C94.6216 38.771 94.5592 38.771 94.5125 38.771C92.6729 38.8332 92.6262 38.8332 92.6729 36.9962C92.7665 33.5402 90.1475 32.6684 87.6532 32.9487C87.2011 32.9954 87.2011 33.2444 87.2011 33.5869C87.2011 35.097 87.1855 36.5915 87.2167 38.1015C87.2323 38.6464 87.0608 38.8021 86.5152 38.7865C84.8004 38.771 84.8004 38.8021 84.8004 37.1052C84.8004 31.5009 84.816 25.9121 84.7848 20.3077C84.7848 19.7006 84.9251 19.5138 85.5487 19.5138C87.1855 19.5449 87.1855 19.5138 87.1855 21.1328C87.1855 24.0907 87.2011 27.0485 87.1699 29.9908C87.1699 30.5357 87.2635 30.6758 87.9026 30.7847C89.3524 31.0338 89.8981 30.271 90.4125 29.1657C90.9114 28.1071 91.5349 27.1263 92.065 26.0833C92.252 25.7097 92.5015 25.554 92.9224 25.5852C93.6083 25.6319 94.263 25.6007 95.0581 25.6007Z', fill='url(#paint4_linear)')
                    path(d='M72.4225 32.248C72.4069 36.1243 69.4605 39.0977 65.6412 39.0822C61.8686 39.051 58.969 36.0153 58.9846 32.1234C59.0001 28.2782 61.9465 25.3048 65.7191 25.3359C69.4917 25.3515 72.4381 28.3872 72.4225 32.248ZM69.9438 32.2635C69.9594 29.9284 68.7278 28.1692 66.7792 27.7645C64.6279 27.313 62.726 28.2004 61.8997 30.0374C60.9644 32.1079 61.5256 34.7544 63.1781 35.9842C63.5834 36.28 64.0199 36.4824 64.5032 36.6069C67.5119 37.3697 69.9282 35.4393 69.9438 32.2635Z', fill='url(#paint5_linear)')
                    path(d='M111.645 25.3981C115.402 25.2268 118.458 28.496 118.411 32.2478C118.364 35.9841 115.605 39.0976 111.645 39.0665C107.826 39.0509 104.988 36.0619 104.973 32.1544C104.957 28.3092 108.013 25.2113 111.645 25.3981ZM111.692 27.7332C109.088 27.5153 107.436 29.6636 107.467 32.1856C107.498 34.9255 109.151 36.7313 111.661 36.7625C114.295 36.7936 115.932 34.6297 115.932 32.2634C115.917 29.648 114.248 27.5153 111.692 27.7332Z', fill='url(#paint6_linear)')
                    path(d='M49.7401 27.9201C50.0987 27.1729 50.3793 26.5657 50.6755 25.9741C50.7223 25.8652 50.8314 25.6784 50.8937 25.6784C51.7979 25.7095 51.6108 25.0401 51.6888 24.5108C52.0473 21.9577 54.2298 19.965 57.0203 19.6381C58.3454 19.4824 58.283 19.4824 58.361 20.8213C58.4078 21.6619 58.1583 21.911 57.3321 21.9733C55.3678 22.1289 54.2142 23.3121 54.1051 25.0401C54.0739 25.4915 54.2142 25.6317 54.6507 25.6161C55.3523 25.585 56.0538 25.6161 56.7553 25.6005C57.1294 25.585 57.223 25.7251 57.2386 26.0987C57.3165 27.9201 57.3321 27.9201 55.5082 27.9201C54.0895 27.9201 54.0895 27.9201 54.0895 29.3523C54.0895 32.2012 54.0739 35.0657 54.1051 37.9145C54.1207 38.5684 53.996 38.8175 53.2789 38.8019C51.5952 38.7396 51.5953 38.7863 51.5953 37.0739C51.5953 34.3184 51.5641 31.5785 51.6108 28.823C51.6264 28.1069 51.4394 27.8111 50.7067 27.9201C50.4261 27.9668 50.1454 27.9201 49.7401 27.9201Z', fill='url(#paint7_linear)')
                    path(d='M100.452 26.9862C100.452 29.119 100.468 31.2362 100.436 33.3689C100.436 33.8982 100.53 34.3964 100.639 34.8946C100.826 35.7819 101.715 36.4358 102.822 36.4202C103.476 36.4202 103.585 36.6693 103.585 37.2453C103.57 38.8332 103.585 38.7865 102.026 38.6464C99.4698 38.4128 98.2539 36.9651 98.098 34.4431C97.8174 29.7105 98.0668 24.9624 97.9577 20.2298C97.9421 19.7161 98.1136 19.4981 98.6748 19.4826C100.405 19.4359 100.468 19.4826 100.468 21.1639C100.452 23.0943 100.452 25.0402 100.452 26.9862Z', fill='url(#paint8_linear)')
                    path(d='M74.9324 34.085C74.9792 32.8085 74.8545 31.2829 75.0259 29.7417C75.3221 27.1574 76.5693 25.8809 79.1727 25.6629C80.3107 25.5695 81.4487 25.6162 82.6023 25.5851C82.9765 25.5695 83.0856 25.7252 83.1012 26.0833C83.2103 27.9358 83.2259 27.9202 81.3863 27.9358C80.6848 27.9358 79.9833 27.9202 79.2818 27.9825C78.2373 28.0915 77.7229 28.6052 77.5046 29.6327C77.3799 30.271 77.3643 30.9248 77.3643 31.5631C77.3643 33.7425 77.3487 35.922 77.3799 38.1015C77.3799 38.5997 77.2708 38.7709 76.7407 38.7709C74.9168 38.7709 74.9168 38.802 74.9168 36.9495C74.9324 36.0933 74.9324 35.2059 74.9324 34.085Z', fill='url(#paint9_linear)')
                    path(d='M42.2417 36.5915C42.3199 36.7007 42.2733 36.7476 42.1638 36.7788C42.1794 36.7164 42.2104 36.6539 42.2417 36.5915Z', fill='url(#paint10_linear)')
                    path(d='M42.242 21.8338C42.2107 21.7713 42.1951 21.7089 42.1638 21.6465C42.2733 21.6777 42.3202 21.7401 42.242 21.8338Z', fill='url(#paint11_linear)')
                defs
                    filter#filter0_d(x='0', y='-6', width='159.156', height='76.1848', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
                        feflood(flood-opacity='0', result='BackgroundImageFix')
                        fecolormatrix(in='SourceAlpha', type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
                        feoffset
                        fegaussianblur(stdDeviation='12.5')
                        fecolormatrix(type='matrix', values='0 0 0 0 0.411765 0 0 0 0 0.839216 0 0 0 0 1 0 0 0 1 0')
                        feblend(mode='normal', in2='BackgroundImageFix', result='effect1_dropShadow')
                        feblend(mode='normal', in='SourceGraphic', in2='effect1_dropShadow', result='shape')
                    lineargradient#paint0_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')
                    lineargradient#paint1_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')
                    lineargradient#paint2_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')
                    lineargradient#paint3_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')
                    lineargradient#paint4_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')
                    lineargradient#paint5_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')
                    lineargradient#paint6_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')
                    lineargradient#paint7_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')
                    lineargradient#paint8_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')
                    lineargradient#paint9_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')
                    lineargradient#paint10_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')
                    lineargradient#paint11_linear(x1='79.578', y1='19', x2='79.578', y2='45.1848', gradientUnits='userSpaceOnUse')
                        stop(stop-color='#69D6FF')
                        stop(offset='1', stop-color='#0B9ED5')

        +social()
        
        .header_buttons
            button.button.hollow.secondary
                span Подписка
            a.button.hollow(href="#")
                span Все спецпроекты
        button.header_hamb(data-open="menu")
