section.main(data-visible="true")
    .grid-container.main_inner
        h1
            | Хроника криптоиндустрии: 
            span
                | специальный проект ForkLog к&nbsp;пятилетию журнала
        p.block
            span.block_inner
                | 25&nbsp;августа ForkLog отметил пятилетний юбилей. За&nbsp;эти годы произошли события, уже ставшие историей: приговор Россу Ульбрихту, крах Mt.Gox, форк Ethereum после взлома The DAO и&nbsp;105 хардфорков биткоина.

        p.block.block--wide
            span.block_inner
                | Но&nbsp;были и&nbsp;новости, о&nbsp;которых ForkLog не&nbsp;писал, потому что тогда журнала не&nbsp;было. Мы&nbsp;не&nbsp;выпускали свежую заметку о&nbsp;продаже двух пицц или росте цены биткоина до&nbsp;$1. По&nbsp;случаю дня рождения журнала мы&nbsp;решили исправить это упущение.

        p.hint.hint--graph
            | Мы&nbsp;взяли график цены биткоина от&nbsp;момента появления криптовалюты и&nbsp;превратили его в&nbsp;таймлайн с&nbsp;ключевыми событиями криптоиндустрии по&nbsp;версии ForkLog. 
            svg.hint_line(xmlns='http://www.w3.org/2000/svg' viewbox="0 0 150 190" preserveAspectRatio="none")
                path(d="M 0 190 L 0 0 L 150 0 ")

        p.hint.hint--event
            | Кликните по&nbsp;событию, чтобы раскрыть окошко с&nbsp;небольшим рассказом, ссылкой на&nbsp;новость или эксклюзивным видеокомментарием от&nbsp;ForkLog. Комментаторы событий&nbsp;&mdash; ___ А&nbsp;если захотите вернуться к&nbsp;прошлому, пролистайте таймлайн обратно.
            svg.hint_line(viewBox='0 0 305 171', xmlns='http://www.w3.org/2000/svg' preserveAspectRatio="none")
                path(d='M30.5 0.5L1 0.5V81.5H304.5V171')
        p.lead
            | Наш рассказ начинается с&nbsp;тех времен, когда биткоин ничего не&nbsp;стоил.
            span.lead_line

.timeline_controls
    .grid-container.timeline_controls_inner
        i
        button.timeline_control.timeline_control--forward(data-x="-3313.5")
            | Cередина
            +icon('arrow_right', [16, 8])
.timeline_years
    .button.hollow.small.still.timeline_years_button
        span Начало


.block.block--regards
    span.block_inner
        | Мы&nbsp;не&nbsp;знаем, какие события произойдут в&nbsp;будущем, но&nbsp;знаем, что обязательно о&nbsp;них напишем. Спасибо, что были с&nbsp;нами все эти годы.
        br
        br
        | Искренне&nbsp;ваши, 
        br
        | вся команда ForkLog
