.subscribe
    .subscribe_inner
        p.subscribe_header
            | Подпишитесь на рассылку
        span.subscribe_descr
            | и не пропускайте новые спецпроекты
        form.subscribe_form
            .input
                input(type='email', placeholder='Введите E-mail', name='entry.1411777992' required)
            button.button.hollow.secondary
                span Читать
